@font-face{

font-family: 'HelveticaNeue';

src: url('../fonts/HelveticaNeue.eot');

src: url('../fonts/HelveticaNeue.eot?iefix') format('eot'),

url('../fonts/HelveticaNeue.woff') format('woff'),

url('../fonts/HelveticaNeue.woff') format('ttf');


font-weight: bold;

font-style: normal;

}

@font-face{

font-family: 'HelveticaNeue';

src: url('../fonts/HelveticaNeue.eot');

src: url('../fonts/HelveticaNeue.eot?iefix') format('eot'),

url('../fonts/HelveticaNeue.woff') format('woff'),

url('../fonts/HelveticaNeue.woff') format('ttf');


font-weight: medium;

font-style: normal;

}


